<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Activities List</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Add any additional styling or custom CSS files here -->
    <style>
        body {
            background-color: #fff;
            padding: 20px;
        }
    </style>
</head>
<body>
<header th:insert="blocks/headerAdmin :: headerAdmin"></header>
<a class="me-3 py-2 text-dark text-decoration-none" href="/users">Back</a>

<div class="container">
    <h2>User Activities List</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Project id</th>
            <th>Task name</th>
            <th>Project name</th>
            <th>Order id</th>
            <th>Department</th>
            <th>Estimated time</th>
            <th>Spent time</th>
            <th>Charge</th>
            <th>Total</th>
            <th>State</th>
            <th>Month</th>
            <th>Actions</th>
            <!-- Add more columns as needed -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${details}">

            <td th:text="${detail.projectTask.taskId}"></td>
        <td th:text="${detail?.projectTask?.taskName}"></td>
        <td th:text="${detail.orderProjects.project}"></td>
        <td th:text="${detail.orderProjects.orderId}"></td>
        <td th:text="${detail?.projectTask?.department}"></td>
        <td th:text="${detail.realTime}"></td>
        <td th:text="${detail.timeSpent}"></td>
        <td th:text="${detail.charge}"></td>
        <td th:text="${detail.total}"></td>
        <td th:text="${detail.state}"></td>
        <td th:text="${detail.month}"></td></tr>
        </tbody>
    </table>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

<!-- Link to Bootstrap JS and Popper.js (if needed) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
